@font-face {
    font-family: norseBold;
    src: url(./fonts/norse-bold-webfont.woff) format("woff");
    src: url(./fonts/norse-bold-webfont.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    border: 1px solid red;
}

.main-container,
.left-container,
.right-container, 
fieldset {
    display: flex;
}

.form-container,
.header,
.footer {
    padding: 2em;
}

.fname-container,
.lname-container,
.email-container,
.telephone-container,
.passwd-container,
.passwd-confirm-container {
    display: flex;
    flex-direction: column;
}


.main-container {
    justify-content: center;
}

.left-container {
    min-width: 30vw;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}

.right-container {
    width: 45vw;
    flex-direction: column;
}

fieldset {
    justify-content: flex-start;
    gap: 4em;
}

.btn-container {
    margin-top: 2em;
}