@font-face {
    font-family: norseBold;
    src: url(./fonts/norse-bold-webfont.woff) format("woff");
    src: url(./fonts/norse-bold-webfont.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    border: 1px solid red;
}

body {
    background-color: rgb(40, 39, 39);
}

.main-container,
.left-container,
.right-container, 
fieldset {
    display: flex;
}

.form-container,
.header,
.footer {
    padding: 2em;
    flex: 1;
    background-color: rgb(196, 194, 194);
}

.footer {
    padding-bottom: 10rem;
}

.fname-container,
.lname-container,
.email-container,
.telephone-container,
.passwd-container,
.passwd-confirm-container {
    display: flex;
    flex-direction: column;
}


.main-container {
    justify-content: center;
}

.left-container {
    display: flex;
    justify-content: center;
    min-width: 30vw;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}

.logo-container {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: rgba(0, 0, 0, 60%);
    padding: 0.7em;
    margin-top: 10em;
    max-height: 10rem;
    min-width: 30vw;
    font-size: large;
    color: white;
}

.logo-container > h1 {
    font-size: 3rem;
}

.right-container {
    width: 45vw;
    flex-direction: column;
}

fieldset {
    justify-content: flex-start;
    gap: 4em;
}

.btn-container {
    margin-top: 2em;
}