@font-face {
    font-family: norseBold;
    src: url(./fonts/norse-bold-webfont.woff) format("woff");
    src: url(./fonts/norse-bold-webfont.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    border: 1px solid red;
}

.main-container,
.left-container,
.right-container {
    display: flex;
}

.main-container {
    justify-content: center;
}

.left-container {
    width: 45vh;
}

.right-container {
    width: 100vh;
    flex-direction: column;
}